@font-face {
    font-family: 'Traditional Arabic';
    src: url('../fonts/traditional_arabic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KFGQPC Uthmanic Script HAFS';
    src: url('../fonts/kfgqpc_uthmanic_hafs.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kitab';
    src: url('../fonts/kitab.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Kitab';
    src: url('../fonts/kitab.ttf');
}

@font-face {
    font-family: 'Kitab';
    src: url('../fonts/kitab_bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'MyLotus';
    src: url('../fonts/mylotus.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyLotus';
    src: url('../fonts/mylotus-bold.ttf');
    font-weight: bold;
    font-style: normal;
}

.arabic-text {
    font-family: 'Kitab';
}

.arabic-text-lotus {
    font-family: 'MyLotus';
}

.arabic-text-traditional {
    font-family: 'Traditional Arabic';
}

.arabic-small {
    font-size: 1.2em;
}

.arabic-medium {
    font-size: 1.5em;
}

.arabic-big {
    font-size: 2em;
}

/* Нужен для отображения слов в правильном порядке. В том порядке, в котором идут в лейауте */
.bidi-fix {
    unicode-bidi: isolate;
}

.rtl {
    direction: rtl;
    text-align: right;
}
