.arabic-text-marker {
    padding: 3px 0;
    font-family: 'Kitab';
    font-size: 1.5em;
}

.ce-delimiter {
    line-height: 1.6em;
    width: 100%;
    text-align: center;
}

.ce-delimiter:before {
    display: inline-block;
    content: "***";
    font-size: 30px;
    line-height: 65px;
    height: 30px;
    letter-spacing: 0.2em;
}
