<template lang="pug">
    b-modal.modal-slide(ref='dialog' @close="resetModal" hide-header hide-footer)
        p.text-center.text-big.mb-4
            slot
        b-btn(block='' :variant='buttonColorVariant' @click='onConfirmClick') {{ confirmText || 'OK' }}
        b-btn(block='' variant='default' @click='onCancelClick') {{ cancelText || 'Отмена' }}
</template>

<script lang="ts">

import Component from "vue-class-component"
import Vue from "vue"
import { Emit, Prop, Ref } from "vue-property-decorator";

@Component
export default class SideConfirmModal extends Vue {

    tempData: any

    @Ref()
    dialog!: any

    @Prop()
    confirmText!: String
    @Prop()
    cancelText!: String
    @Prop()
    buttonColor!: String

    @Emit()
    onConfirmClick() {

    }
    @Emit()
    onCancelClick() {

    }

    get buttonColorVariant() {
        if (this.buttonColor === 'red') {
            return 'danger'
        }
        return 'primary'
    }

    show(data: any = null) {
        this.tempData = data
        this.dialog.show()
    }

    hide() {
        this.tempData = null
        this.dialog.hide()
    }

    getData() {
        return this.tempData
    }

    resetModal() {
        console.log("resetModal: ")
    }

}
</script>
