<template>
    <div id="app">
        <notifications group="notifications-default"
                       position="top center"
                       :speed="500"/>
        <router-view/>
    </div>
</template>

<style src="@/vendor/styles/bootstrap.scss" lang="scss"/>
<style src="@/vendor/styles/appwork.scss" lang="scss"/>
<style src="@/vendor/styles/theme-corporate.scss" lang="scss"/>
<style src="@/vendor/styles/colors.scss" lang="scss"/>
<style src="@/vendor/styles/uikit.scss" lang="scss"/>
<style src="@/vendor/libs/vue-notification/vue-notification.scss" lang="scss"/>
<style src="./style.scss" lang="scss"/>
<style src="./assets/styles/arabic-fonts.css"/>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component({
    name: 'KalimatApp',
    metaInfo: {
        title: 'Kalimat',
        titleTemplate: '%s - Kalimat'
    },
})
export default class KalimatApp extends Vue {

    updated() {
        // Remove loading state
        setTimeout(() => document.body.classList.remove('app-loading'), 1)
    }

}
</script>
