@import '~node_modules/bootstrap-vue/src/index.scss';


// Base
//

.dropdown-item,
.page-link,
.nav {
  outline: 0;
}

.error-text {
  color: $red;
  padding-top: 1ex;
  padding-bottom: 1ex;
}

// Page transition
//

.router-transitions {
  opacity: 1;
  transition: opacity .2s;

  body.app-loading & {
    opacity: .75;
  }
}

// Tables
//

table.b-table > thead > tr > th.sorting,
table.b-table > tfoot > tr > th.sorting {
  padding-right: 2rem;
}

[dir=rtl] .b-table > thead > tr > th.sorting,
[dir=rtl] .b-table > tfoot > tr > th.sorting {
  padding-left: 2rem;

  &:before {
    right: auto;
    left: .75em;
  }

  &:after {
    right: auto;
    left: .25em;
  }
}

table.b-table > thead {
  > tr > th:focus {
    outline: 0;
    text-decoration: underline;
  }

  > tr > th.sorting::before,
  > tr > th.sorting::after {
    bottom: auto !important;
    padding-bottom: 0 !important;
    top: 50%;
    transform: translateY(-50%);
  }
}

.default-style[dir=rtl] .b-table {
  @import "~@/vendor/styles/_appwork/include";

  > thead > tr > th.sorting,
  > tfoot > tr > th.sorting {
    padding-right: $table-cell-padding;
  }

  &.card-table > thead > tr > th.sorting:first-child,
  &.card-table > tfoot > tr > th.sorting:first-child {
    padding-right: $card-spacer-x;
  }
}

.material-style[dir=rtl] .b-table {
  @import "~@/vendor/styles/_appwork/include-material";

  > thead > tr > th.sorting,
  > tfoot > tr > th.sorting {
    padding-right: $table-cell-padding;
  }

  &.card-table > thead > tr > th.sorting:first-child,
  &.card-table > tfoot > tr > th.sorting:first-child {
    padding-right: $card-spacer-x;
  }
}

// Cards
//

.default-style {
  @import "~@/vendor/styles/_appwork/include";

  .card-img-left {
    @include border-left-radius(if($border-radius != 0px, calc(#{$border-radius} - 1px), 0));
  }

  .card-img-right {
    @include border-right-radius(if($border-radius !=0px, calc(#{$border-radius} - 1px), 0));
  }

  &[dir=rtl] {
    .card-img-left {
      @include border-left-radius(0);
      @include border-right-radius(if($border-radius !=0px, calc(#{$border-radius} - 1px), 0));
    }

    .card-img-right {
      @include border-right-radius(0);
      @include border-left-radius(if($border-radius !=0px, calc(#{$border-radius} - 1px), 0));
    }
  }
}

.material-style {
  @import "~@/vendor/styles/_appwork/include-material";

  .card-img-left {
    @include border-left-radius(if($border-radius !=0px, calc(#{$border-radius} - 1px), 0));
  }

  .card-img-right {
    @include border-right-radius(if($border-radius !=0px, calc(#{$border-radius} - 1px), 0));
  }

  &[dir=rtl] {
    .card-img-left {
      @include border-left-radius(0);
      @include border-right-radius(if($border-radius !=0px, calc(#{$border-radius} - 1px), 0));
    }

    .card-img-right {
      @include border-right-radius(0);
      @include border-left-radius(if($border-radius !=0px, calc(#{$border-radius} - 1px), 0));
    }
  }
}

// Dropdowns
//

.default-style {
  @import "~@/vendor/styles/_appwork/include";

  .b-dropdown-form,
  .b-dropdown-text {
    padding: $dropdown-item-padding-y $dropdown-item-padding-x;
  }
}

.material-style {
  @import "~@/vendor/styles/_appwork/include-material";

  .b-dropdown-form,
  .b-dropdown-text {
    padding: $dropdown-item-padding-y $dropdown-item-padding-x;
  }
}
