<template>
    <div>
        <div class="media align-items-center py-3 mb-4">
            <img :src="`http://localhost:8080/images/it-cub.png`" alt="" style="width: 140px; height: 80px;" class="d-block">
            <div class="media-body ml-4">
                <h4 class="font-weight-bold mb-2">{{productData.title}} <span class="text-muted">#{{productData.id}}</span></h4>
            </div>
        </div>

        <b-tabs class="nav-tabs-top nav-responsive-sm">
            <b-tab title="Информация" active>

                <div class="row no-gutters row-bordered">
                    <div class="d-flex col-md-6 col-lg align-items-center">
                        <b-card-body class="d-flex align-items-center">

                            <div>
                                <div class="ui-stars text-large text-nowrap">
                                    <div class="ui-star" v-for="i in [1, 2, 3, 4, 5]" :class="uiStarClass(i)" :key="i">
                                        <i class="ion ion-md-star"></i>
                                        <i class="ion ion-md-star"></i>
                                    </div>
                                </div>
                                <a href="javascript:void(0)" class="d-block text-muted small">{{productData.reviews}} отзывов</a>
                            </div>

                        </b-card-body>
                    </div>
                    <div class="d-flex col-md-6 col-lg align-items-center">
                        <b-card-body class="d-flex align-items-center">

                            <div class="lnr lnr-cart display-4 text-secondary"></div>
                            <div class="ml-3">
                                <div class="text-muted small line-height-1">Проведённых курсов</div>
                                <div class="text-xlarge">{{formatInt(productData.sales)}}</div>
                            </div>

                        </b-card-body>
                    </div>
                    <div class="d-flex col-md-6 col-lg align-items-center">
                        <b-card-body class="d-flex align-items-center">

                            <div class="lnr lnr-earth display-4 text-secondary"></div>
                            <div class="ml-3">
                                <div class="text-muted small line-height-1">Выпусников</div>
                                <div class="text-xlarge">{{formatInt(productData.views)}}</div>
                            </div>

                        </b-card-body>
                    </div>
                </div>
                <hr class="m-0">

                <b-card-body>

                    <h6 class="small font-weight-semibold mb-4">Основная информация</h6>

                    <table class="table product-item-table">
                        <tbody>
                        <tr>
                            <td>Категория:</td>
                            <td>{{productData.category}}</td>
                        </tr>
                        <tr>
                            <td>Сайт:</td>
                            <td>
                                <a :href="productData.site">айтикуб.рф</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Почта:</td>
                            <td>
                                <a href="mailto:productData.site">{{productData.email}}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Город:</td>
                            <td>
                                {{productData.city}}
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </b-card-body>
                <b-card-body>

                    <h6 class="small font-weight-semibold mb-4">Адрес</h6>

                    <table class="table product-item-table">
                        <tbody>
                            <tr>
                                <td>Город:</td>
                                <td>
                                    {{productData.city}}
                                </td>
                            </tr>
                            <tr>
                                <td>Улица:</td>
                                <td>
                                    {{productData.address}}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </b-card-body>
            </b-tab>
            <b-tab title="Курсы">
                <b-card-body>

                    <div class="table-responsive">
                        <b-table
                            :items="productData.courses"
                            class="product-item-discounts-table"
                            :fields="productData.fields"
                        >
                            <template slot="status" slot-scope="data">
                                <div>
                                    <b-badge
                                        variant="badge badge-primary badge-pill py-1 px-2"
                                        v-if="data.item.status === 'active'">В процессе</b-badge>
                                    <b-badge
                                        variant="badge badge-success badge-pill py-1 px-2"
                                        v-if="data.item.status === 'planned'">Не начался</b-badge>
                                    <b-badge
                                        variant="badge badge-default badge-pill py-1 px-2"
                                        v-if="data.item.status === 'finished'">Завершено</b-badge>
                                </div>
                            </template>
                        </b-table>
                    </div>

                </b-card-body>
            </b-tab>
        </b-tabs>

    </div>
</template>

<!-- Page -->
<style src="@/vendor/styles/pages/products.scss" lang="scss"></style>

<script>
import * as numeral from 'numeral'

export default {
    name: 'pages-e-commerce-product-item',
    metaInfo: {
        title: 'Product item - Pages'
    },
    data: () => ({
        productData: {
            id: 3455632,
            title: 'IT-сube',
            city: 'Махачкала',
            category: 'IT-школа',
            tax: 25,
            status: 1,
            site: "http://xn--80acudg0cj.xn--p1ai/",
            email: "itcube@fnfro.ru",
            address: "Хаджалмахинская, 41А",

            // Statistics
            rating: 4.3,
            reviews: 123,
            sales: 43,
            views: 451,
            wished: 3671,

            courseTitles: {
                number: 'Номер',
            },
            fields: [
                { key: 'id', label: 'ID', sortable: true, tdClass: 'align-middle' },
                { key: 'name', label: 'Название', sortable: true, tdClass: 'align-middle' },
                { key: 'grade', label: 'Класс', sortable: true, tdClass: 'align-middle', thStyle: 'width: 15rem' },
                { key: 'status', label: 'Статус', sortable: true, tdClass: 'align-middle', thStyle: 'width: 15rem' },
                { key: 'start_date', label: 'Начало', sortable: true, tdClass: 'align-middle', thStyle: 'width: 10rem' },
                { key: 'end_date', label: 'Конец', sortable: true, tdClass: 'align-middle', thStyle: 'width: 10rem' }
            ],
            // Courses
            courses: [
                { id: '1', name: 'Основы алгоритмики и логики', status: "finished",   grade: '5-11', start_date: '-', end_date: '-' },
                { id: '2', name: 'Кибергигена и большие данные', status: "active",  grade: '9-11', start_date: '03.01.2021', end_date: '03.05.2021' },
                { id: '3', name: 'VR/AR-разработка', status: "active",  grade: '7-11', start_date: '02.01.2021', end_date: '03.05.2021' },
                { id: '4', name: 'Программирование на Python', status: "active",  grade: '9-11', start_date: '02.02.2021', end_date: '04.05.2021' },
                { id: '5', name: 'Мобильная разработка', status: "planned",  grade: '9-11', start_date: '05.06.2021', end_date: '05.10.2021' }
            ],
        }
    }),
    computed: {
        productImage () {
            return this.productData.images.find(i => !!i.primary).image
        }
    },
    methods: {
        uiStarClass (i) {
            if (this.productData.rating > (i - 1) && this.productData.rating < i) return 'half-filled'
            if (this.productData.rating >= i) return 'filled'
            return ''
        },
        formatInt (v) {
            return numeral(v).format('0,0')
        },
    }
}
</script>
