<template lang="pug">
    .authentication-wrapper.authentication-1.px-4
        .authentication-inner.py-5
            .d-flex.justify-content-center.align-items-center
                .w-100.position-relative
                    .navbar-brand.w-lg-100.text-large.font-weight-bolder.line-height-1.py-3.mr-0 Вектор
            form.my-5
                b-form-group(label="Email")
                    b-input( v-model="credentials.email" class="form-control")
                b-form-group
                    .d-flex.justify-content-between.align-items-end(slot="label")
                        div Пароль
                        .d-block.small Забыли пароль?
                    b-input(type="password" v-model="credentials.password" class="form-control")
                .d-flex.justify-content-between.align-items-center.m-0
                    b-check(v-model="credentials.rememberMe" class="m-0") Запомнить меня
                    b-btn(variant="primary" @click="tryAuth") Войти
</template>


<script>
import { mapActions } from 'vuex'

export default {
    name: 'login',
    metaInfo: {
        title: 'Вход'
    },
    data: () => ({
        credentials: {
            email: '',
            password: '',
            rememberMe: false
        }
    }),
    methods: {
        ...mapActions(['tryLogin']),
        async tryAuth() {
            try {
                const { email, password } = this.credentials
                await this.tryLogin({ email: email, password: password })
                this.$router.push({ path: 'admin' })
                this.showSuccessToast({ text: 'Вход выполнен' })
            } catch (e) {
                console.log(e)
                this.showErrorToast({ text: 'Ошибка входа' })
            }
        }
    }
}
</script>

<!-- Page -->
<style src="@/vendor/styles/pages/authentication.scss" lang="scss">
</style>
