<template lang="pug">
    div
        h4(class="font-weight-bold my-4")
            | Редактирование разрешения
            span(class="text-muted")  {{ `#${permission.code}` }}
        b-card(no-body)
            b-card-body
                b-form-group(label='Код')
                    b-input(v-model='permission.code' readonly=true)
                b-form-group(label='Название')
                    b-input(v-model.trim='permission.title')
                b-form-group(label='Описание')
                    b-textarea(v-model.trim='permission.description', rows='5')
        div(class="text-right mt-3")
            b-btn(variant="primary" @click="onSavePermission") Сохранить изменения
</template>

<script>
import { required } from 'vuelidate/lib/validators'

import http from '../../../httpService'

export default {
    name: 'permission-details',
    metaInfo: {
        title: 'Редактирование разрешения'
    },
    data: () => ({
        permission: {
            id: 0,
            code: '',
            title: '',
            description: '',
        },

    }),
    validations: {
        word: {
            title: {
                required
            },
            type: {
                notDefault: value => value !== 'default'
            }
        },
    },
    async created() {
        const id = this.$route.params.id

        await this.fetchPermissionData(id)
    },
    methods: {
        async fetchPermissionData(id) {
            try {
                const response = await http.get(`/admin/permissions/${id}`)
                const permission = response.data
                this.permission.id = permission.id
                this.permission.code = permission.code
                this.permission.title = permission.title
                this.permission.description = permission.description
            } catch (e) {
                console.log(e)
            }
        },
        async onSavePermission() {
            this.$v.$touch()

            if (!this.$v.$invalid) {
                return
            }

            try {
                await http.post(`/admin/permissions/${this.permission.id}`, this.permission)
                this.showSuccessToast({ text: 'Сохранено' })
            } catch (e) {
                this.showErrorToast({ text: 'Ошибка при сохранении' })
            }
        }
    }
}
</script>
