<template lang="pug">
    div
        h4.font-weight-bold.my-3.mb-4
            | Разрешения
        b-card(no-body='')
            hr.border-light.m-0
            .table-responsive
                b-table.card-table(
                    :items='permissions'
                    :fields='fields'
                    :sort-by.sync='sortBy'
                    :sort-desc.sync='sortDesc'
                    :striped='true'
                    :bordered='true'
                )
                    template(slot='code' slot-scope='data')
                        a(:href='`/admin/permissions/${data.item.id}`') {{ data.item.code }}
</template>

<script>
import http from '../../../httpService'

export default {
    name: 'PermissionsList',
    metaInfo: {
        title: 'Разрешения'
    },
    data: () => ({
        sortBy: 'id',
        sortDesc: false,

        fields: [
            { key: 'id', sortable: true, tdClass: 'align-middle', thStyle: 'width: 5rem' },
            { label: 'Код', key: 'code', sortable: true, tdClass: 'align-middle' },
            { label: 'Название', key: 'title', tdClass: 'align-middle' },
            { label: 'Описание', key: 'description', tdClass: 'align-middle', thStyle: 'min-width: 18rem' },
        ],

        permissions: [],
        originalPermissions: [],
    }),
    methods: {
        async fetchPermissions() {
            try {
                const response = await http.get('/admin/permissions')
                if (response.status === 200) {
                    this.permissions = response.data.permissions
                }
            } catch (error) {
                console.log('error', error)
            }
        }
    },

    created() {
        this.fetchPermissions()
    }
}
</script>
