<template lang="pug">
    div
        h4(class="font-weight-bold my-4")
            | Редактирование роли
            span(class="text-muted")  {{ `#${role.code}` }}
        b-card(no-body='')
            b-card-body
                b-form-group(label='ID:')
                    b-input(v-model='role.id', readonly=true)
                b-form-group(label='Код:')
                    b-input(v-model='role.code')
                b-form-group(label='Название:')
                    b-input(v-model.trim='role.title')
                b-form-group(label='Описание:')
                    b-textarea(v-model.trim='role.description', rows='5')

                hr.border-light.m-0
                .table-responsive
                    b-table.card-table(
                        :fields="permissionFields"
                        :items='allPermissions'
                    )
                        template(slot='permission' slot-scope="data")
                            b-check(v-model="data.item.isGranted") {{ data.item.title }}

        div(class="text-right mt-3")
            b-btn(variant="primary" @click="onSaveRole") Сохранить изменения
</template>

<script>
import { required } from 'vuelidate/lib/validators'

import http from '../../../httpService'

export default {
    name: 'RoleDetails',
    metaInfo: {
        title: 'Редактирование роли'
    },
    data: () => ({
        role: {
            id: 0,
            code: '',
            title: '',
            description: ''
        },
        allPermissions: [],
        permissionFields: [
            { label: 'Разрешения', key: 'permission', tdClass: 'align-middle' },
            { label: 'Код', key: 'code', tdClass: 'align-middle' },
        ],
    }),
    validations: {
        word: {
            title: {
                required
            },
            type: {
                notDefault: value => value !== 'default'
            }
        },
    },
    async created() {
        const id = this.$route.params.id

        await this.fetchPermissionData(id)
    },
    methods: {
        async fetchPermissionData(id) {
            try {
                const response = await http.get(`/admin/roles/${id}`)

                const role = response.data
                this.role.id = role.id
                this.role.code = role.code
                this.role.title = role.title
                this.role.description = role.description

                const rolePermissions = role.permissions.map(permission => permission.code)
                this.allPermissions = (await http.get(`/admin/permissions`)).data.permissions
                    .map(permission => ({
                        title: permission.title,
                        code: permission.code,
                        isGranted: rolePermissions.includes(permission.code)
                    }))
            } catch (e) {
                console.log(e)
            }
        },
        async onSaveRole() {
            this.$v.$touch()

            if (!this.$v.$invalid) {
                return
            }

            try {
                const roleData = {
                    ...this.role,
                    permissions: this.allPermissions.filter(permission => permission.isGranted).map(item => item.code)
                }
                const response = await http.post(`/admin/roles/${this.role.id}`, roleData)
                this.showSuccessToast({ text: 'Сохранено' })
            } catch (e) {
                console.log(e)
                this.showErrorToast({ text: 'Ошибка при сохранении' })
            }
        }
    }
}
</script>
