<template lang="pug">
    div
        b-row.align-items-center
            b-col(cols="12" sm="6")
                h4.font-weight-bold.my-4
                    | Роли
            b-col(cols="12" sm="6" class="text-right")
                b-btn(
                    variant='primary'
                    @click='createRole'
                ) Создать
        b-card(no-body='')
            hr.border-light.m-0
            .table-responsive
                b-table.card-table(
                    :items='roles'
                    :fields='fields'
                    :sort-by.sync='sortBy'
                    :sort-desc.sync='sortDesc'
                    :striped='true'
                    :bordered='true'
                )
                    template(slot='code' slot-scope='data')
                        a(:href='`/admin/roles/${data.item.id}`')
                            | {{ data.item.code }}

</template>

<script>
import http from '../../../httpService'

export default {
    name: 'RolesList',
    metaInfo: {
        title: 'Роли'
    },
    data: () => ({
        sortBy: 'id',
        sortDesc: false,

        fields: [
            { key: 'id', sortable: true, tdClass: 'align-middle', thStyle: 'width: 5rem' },
            { label: 'Код', key: 'code', sortable: true, tdClass: 'align-middle' },
            { label: 'Название', key: 'title', tdClass: 'align-middle' },
            { label: 'Описание', key: 'description', tdClass: 'align-middle', thStyle: 'min-width: 18rem' },
        ],

        roles: [],
        originalRoles: [],
    }),
    methods: {
        async fetchRoles() {
            try {
                const response = await http.get('/admin/roles')
                if (response.status === 200) {
                    this.roles = response.data.roles
                }
            } catch (error) {
                console.log('error', error)
            }
        },
        createRole() {

        }
    },

    created() {
        this.fetchRoles()
    }
}
</script>
