<template lang="pug">
    div
        h4(class="font-weight-bold my-3")
            | Настройки сайта
        b-card(no-body)
            b-card-body
                h4 Публичное редактирование
                div(class="d-flex flex-column mt-2")
                    span.font-weight-bold Публичный пользователь:
                    user-search-input(
                        v-model="publicUserId"
                        :multiple="false"
                        class="mt-1"
                    )
                    label(class="switcher mt-4 mb-2")
                        input(
                            v-model='isPublicEditingEnabled'
                            type="checkbox"
                            class="switcher-input"
                        )
                        span(class="switcher-indicator")
                            span(class="switcher-yes")
                            span(class="switcher-no")
                        span(class="switcher-label") Включить публичное редактирование
                h4.mt-3 Библиотека
                div(class="mt-2")
                    label(class="switcher")
                        input(
                            v-model='isLibraryEnabled'
                            type="checkbox"
                            class="switcher-input"
                        )
                        span(class="switcher-indicator")
                            span(class="switcher-yes")
                            span(class="switcher-no")
                        span(class="switcher-label") Включение/выключение раздела библиотеки на фронте

        div(class="text-right mt-3")
            b-btn(variant="primary" @click="saveSettings") Сохранить настройки
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style src="@/vendor/libs/vue-multiselect/vue-multiselect.scss" lang="scss"></style>

<style lang="scss">
    .switcher-indicator:hover {
        cursor: pointer;
    }
</style>

<script lang="ts">
import Component, { mixins } from "vue-class-component"
import { UserProfileMixins } from "@/mixins/shared/userProfileMixinsTs";
import http from '../../../httpService'
import { Validations } from "vuelidate-property-decorators";
import { required } from "vuelidate/lib/validators";
import { ValidationsMixin } from "../../../mixins/shared/validation/validationsTs";
import Multiselect from 'vue-multiselect'
import UserSearchInput from "../../../components/global/UserSearchInput.vue";
import { Watch } from "vue-property-decorator";

@Component({
    metaInfo: {
        title: 'Настройки сайта',
    },
    components: { Multiselect, UserSearchInput }
})

export default class SiteSettings extends mixins(UserProfileMixins, ValidationsMixin) {

    publicUserId: number = 0
    isLibraryEnabled: boolean = false
    isPublicEditingEnabled: boolean = false

    @Validations()
    validations = {
        publicUserId: {
            required
        }
    };

    created() {
        this.fetchSettings()
    }

    @Watch("publicUserId")
    onUserChanged(userId: number) {
    }

    async fetchSettings() {
        const settingsResponse = await http.get(`/admin/settings`)
        const settings = settingsResponse.data
      console.log("settingsResponse: ", settings)
        this.publicUserId = settings.publicUserId
        this.isLibraryEnabled = settings.isLibraryEnabled
        this.isPublicEditingEnabled = settings.isPublicEditingEnabled
    }

    async saveSettings() {

        const settings = {
            publicUserId: this.publicUserId,
            isLibraryEnabled: this.isLibraryEnabled,
            isPublicEditingEnabled: this.isPublicEditingEnabled
        }
        const response = await http.post('/admin/settings', settings);
        this.showSuccessToast({ text: 'Сохранено' })
    }


}

class User {
    id!: number
    name!: string
}
</script>
