<template lang="pug">
    div
        h4(class="font-weight-bold my-4")
            span(v-if="isNewUser") Создание пользователя
            span(v-else)
                | Редактирование пользователя
                span(class="text-muted")  {{ `#${user.id }` }}

        b-card(no-body='')
            b-card-body
                b-form-group(label='ID:')
                    b-input(v-model='user.id' readonly='true')
                b-form-group(label='Имя пользователя:')
                    b-input(
                        v-model.trim='$v.user.userName.$model'
                        :state="getFieldState($v.user.userName)"
                    )
                    .error-text(v-if="!$v.user.userName.required") Это поле не должно быть пустым
                b-form-group(label='E-mail:')
                    b-input(
                        v-model.trim='$v.user.email.$model'
                        :state="getFieldState($v.user.userName)"
                    )
                    .error-text(v-if="!$v.user.email.required") Это поле не должно быть пустым
                    .error-text(v-if="!$v.user.email.email") Некорректный E-mail
                b-form-group(label='Роль:')
                    b-select(
                        v-model="$v.user.role.$model"
                        :options="roles"
                        :state="getFieldState($v.user.role)"
                    )
                    .error-text(v-if="!$v.user.role.required") Выберите роль
                b-form-group(
                    v-if="isPasswordFieldVisible"
                    label='Пароль:'
                )
                    b-input(
                        v-model.trim="$v.user.password.$model"
                        :state="getFieldState($v.user.password)"
                    )
                    .error-text(v-if="!$v.user.password.required") Это поле не должно быть пустым
                    .error-text(v-else-if="!$v.user.password.minLength") Минимальная длина пароля 6 символов

                b-btn(
                    v-if="!isNewUser && !showPasswordField"
                    block variant='default'
                    @click="onShowPasswordFieldClicked"
                ) Сменить пароль
        div(class="text-right mt-3")
            b-btn(variant="primary" @click="onSaveRole") Сохранить изменения
</template>

<script>
import { email, minLength, required } from 'vuelidate/lib/validators'
import validationMixin from "../../../mixins/shared/validation/validations"

import http from '../../../httpService'

export default {
    name: 'RoleDetails',
    metaInfo: {
        title: 'Редактирование роли'
    },
    mixins: [validationMixin],
    data: () => ({
        user: {
            id: 0,
            userName: '',
            email: '',
            role: '',
            password: null
        },
        showPasswordField: false,
        roles: [],
    }),
    computed: {
        userIdParam() {
            return this.$route.params.id
        },
        isNewUser() {
            return this.userIdParam === 'new'
        },
        isPasswordFieldVisible() {
            return this.isNewUser || this.showPasswordField
        }
    },
    validations() {
        return {
            user: {
                userName: {
                    required,
                },
                email: {
                    required,
                    email
                },
                role: {
                    required,
                },
                password: (() => {
                    if (!this) return {}
                    return (this.isPasswordFieldVisible) ? {
                        required,
                        minLength: minLength(6),
                    } : {}
                })()
            }
        }
    },
    async created() {
        await this.fetchRoles()
        if (!this.isNewUser) {
            await this.fetchUserData(this.userIdParam)
        }
    },
    methods: {
        onShowPasswordFieldClicked() {
            this.showPasswordField = true
        },
        async fetchRoles() {
            try {
                this.roles = (await http.get('/admin/roles')).data.roles.map(role => ({
                    text: role.title,
                    value: role.code
                }))
            } catch (e) {
                console.log(e)
            }
        },
        async fetchUserData(id) {
            try {
                const response = await http.get(`/admin/users/${id}`)

                const user = response.data
                this.user.id = user.id
                this.user.userName = user.userName
                this.user.email = user.email
                this.user.role = user.role
            } catch (e) {
                this.$router.push({ path: '/404' })
                console.log(e)
            }
        },
        async onSaveRole() {
            this.$v.$touch()

            if (this.$v.$invalid) {
                this.showErrorToast({ text: 'Ошибка валидации' })
                return
            }

            try {
                const id = this.user.id || 'new'
                const response = await http.post(`/admin/users/${id}`, this.user)

                this.showPasswordField = false
                this.user.password = null
                if (id === 'new') {
                    const userId = response.data.userId
                    this.$router.push({ path: `/admin/users/${userId}` })
                }
                this.showSuccessToast({ text: 'Сохранено' })
            } catch (e) {
                console.log(e)
                this.showErrorToast({ text: 'Ошибка при сохранении' })
            }
        }
    }
}
</script>
