<template lang="pug">
    div
        b-row.align-items-center
            b-col(cols="12" sm="6")
                h4.font-weight-bold.my-4
                    | Пользователи
            b-col(cols="12" sm="6" class="text-right")
                b-btn(variant="primary" @click="createUser") Создать
        b-card(no-body="")
            b-card-body
                .row
                    .col
                        page-size-selector(
                            ref="pageSizeSelector"
                            @change="onPageSizeChanged"
                        )
                    .col
                        b-input(
                            class="d-inline-block w-auto float-sm-right"
                            placeholder="Поиск..."
                            @input="onUserNameSearchChanged($event)"
                        )

            // Table
            hr.border-light.m-0
            .table-responsive
                b-table.card-table(
                    :items="users"
                    :fields="fields"
                    :sort-by.sync="filters.orderBy"
                    :sort-desc.sync="filters.orderDesc"
                    :striped="true"
                    :bordered="true"
                )
                    template(slot="userName" slot-scope="data")
                        a(:href="`/admin/users/${data.item.id}`") {{data.item.userName}}
                    template(slot="role" slot-scope="data")
                        b-badge(
                            class="py-1 px-2"
                            :variant="roleColors[data.item.role]"
                        )  {{ rolesTitles[data.item.role] }}
            pagination(
                ref='pagination'
                :onPageUpdated="fetchUsers"
                :generateUrl='true'
            )
</template>

<script>
import http from '../../../httpService'
import debounce from 'debounce'
import pagination from "../../../components/global/Pagination"
import pageSizeSelector from "../../../components/global/PageSizeSelector"

export default {
    name: 'UsersList',
    metaInfo: { title: 'Пользователи' },
    components: { pagination, pageSizeSelector },
    data: () => ({
        fields: [
            { key: 'id', label: 'ID', sortable: true, tdClass: 'align-middle', thStyle: 'width: 5rem' },
            { key: 'userName', label: 'Пользователь', sortable: true, tdClass: 'align-middle' },
            { key: 'email', label: 'E-mail', sortable: true, tdClass: 'align-middle' },
            { key: 'role', label: 'Роль', sortable: true, tdClass: 'align-middle' }
        ],
        filters: {
            orderBy: 'id',
            orderDesc: false,
            userName: null
        },
        users: [],
        rolesTitles: new Map(),
        roleColors: {
            'admin': 'outline-success',
            'moderator': 'outline-primary'
        }
    }),
    async mounted() {
        const pageSize = this.$refs.pageSizeSelector.pageSize
        this.$refs.pagination.setPageSize(pageSize)

        this.rolesTitles = (await http.get('/admin/roles/')).data.roles.reduce((map, item) => {
            map[item.code] = item.title
            return map
        }, {})

        this.fetchUsers()

        this.$watch(() => [
            this.filters.userName,
            this.filters.orderBy,
            this.filters.orderDesc
        ], val => {
            this.fetchUsers()
        })
    },
    methods: {
        onPageSizeChanged(_, pageSize) {
            this.fetchUsers()
            this.$refs.pagination.setPageSize(pageSize)
        },
        onUserNameSearchChanged(query) {
            debounce(() => {
                this.filters.userName = query
            }, 300)
        },
        generatePaginationLink(pageNum) {
            return {
                path: this.$route.path,
                query: { page: pageNum }
            }
        },
        async fetchUsers() {
            try {
                const response = await http.get('/admin/users', {
                    params: {
                        page: this.$refs.pagination.page,
                        pageSize: this.$refs.pageSizeSelector.pageSize,
                        userName: this.filters.userName,
                        orderBy: this.filters.orderBy,
                        orderDesc: this.filters.orderDesc
                    }
                })
                if (response.status === 200) {
                    this.users = response.data.users
                    const pageCount = response.data.pageCount
                    const userCount = response.data.userCount
                    this.$refs.pagination.setPageData(pageCount, userCount)
                }
            } catch (error) {
                console.log('error', error)
            }
        },
        createUser() {
            this.$router.push({ path: `/admin/users/new` })
        }
    }
}
</script>
