<template>
    <div>

        <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
            <div>Курсы</div>
        </h4>

        <div class="row">
            <div v-for="project in schools" :key="project.name" class="col-sm-6 col-xl-4">
                <b-card no-body class="mb-4">

                    <b-card-body class="d-flex justify-content-between align-items-start pb-3">
                        <div>
                            <a :href="`/admin/courses/${project.id}`"
                               class="text-dark text-big font-weight-semibold">{{ project.title }}</a>
                            <b-badge
                                class="align-text-bottom ml-2"
                                :variant="statuses[project.status].color"
                            >
                                {{ statuses[project.status].title }}
                            </b-badge>
                            <div class="text-muted small mt-1">
                                {{ project.lessons - project.completedLessons }} - осталось уроков,
                                {{ project.completedLessons }} - завершено уроков
                            </div>
                        </div>
                        <b-dropdown variant="default icon-btn borderless btn-round md-btn-flat hide-arrow" size="sm"
                                    :right="!isRTL">
                            <template slot="button-content"><i class="ion ion-ios-more"></i></template>
                            <b-dropdown-item href="javascript:void(0)">View</b-dropdown-item>
                            <b-dropdown-item href="javascript:void(0)">Edit</b-dropdown-item>
                            <b-dropdown-item href="javascript:void(0)">Remove</b-dropdown-item>
                        </b-dropdown>
                    </b-card-body>

                    <b-progress :value="completedPercent(project.lessons, project.completedLessons)" height="3px"
                                class="rounded-0"/>
                    <div class="card-body small pt-2 pb-0">
                        <strong>{{ completedPercent(project.lessons, project.completedLessons) }}%</strong> завершено
                    </div>

                    <b-card-body class="pb-3">
                        {{ project.description }}
                    </b-card-body>

                    <b-card-body class="pt-0">
                        <div class="row">
                            <div class="col">
                                <div class="text-muted small">Начало</div>
                                <div class="font-weight-bold">{{ project.startDate }}</div>
                            </div>
                            <div class="col">
                                <div class="text-muted small">Конец</div>
                                <div class="font-weight-bold">{{ project.endDate }}</div>
                            </div>
                        </div>
                    </b-card-body>
                    <hr class="m-0">

                    <b-card-body class="py-3">
                        <div class="text-muted small mb-2">Участники</div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex flex-wrap" style="width: 50%;">
                                <a v-for="avatarNumber in project.team"
                                   :key="avatarNumber"
                                   href="javascript:void(0)"
                                   class="d-block mr-1 mb-1">
                                    <img :src="`http://localhost:8080/images/avatar-${avatarNumber}.png`" alt=""
                                         class="ui-w-30 rounded-circle"
                                         style="height: 30px">
                                </a>
                            </div>
                            <button v-if="!project.isActive" style="border: none; border-radius: 5px; padding: 10px 15px; color: white;background-color: #e65a39;">Записаться</button>
                        </div>
                    </b-card-body>

                </b-card>
            </div>
        </div>

    </div>
</template>


<script lang="ts">
import http from '../../../httpService'
import Pagination from '../../../components/global/Pagination.vue'
import Component, { mixins } from "vue-class-component"
import { FormatDateMixins } from "@/mixins/shared/formatDateMixinsTs"
import { UserProfileMixins } from "@/mixins/shared/userProfileMixinsTs"
import { Ref } from "vue-property-decorator";
import { UrlBindingMixins } from "@/mixins/shared/urlBindingMixins";

@Component({
    metaInfo: { title: 'Все слова' },
    components: {
        Pagination
    }
})

export default class CoursesList extends mixins(
    UserProfileMixins,
    FormatDateMixins,
    UrlBindingMixins
) {

    sortBy: string = 'id'
    sortDesc: boolean = false
    fields = [
        { key: 'id', label: 'ID', sortable: true, tdClass: 'align-middle', thStyle: 'width: 5rem' },
        { key: 'name', label: 'Название школы', sortable: true, tdClass: 'align-middle' },
        { key: 'city', label: 'Город', sortable: true, tdClass: 'align-middle', thStyle: 'width: 15rem' },
        {
            key: 'rating',
            label: 'Рейтинг',
            sortable: true,
            tdClass: 'align-middle',
            thStyle: 'width: 15rem'
        },
    ]

    @Ref()
    private pagination!: Pagination

    statuses = {
        planned: { title: 'В планах', color: 'info' },
        active: { title: 'В процессе', color: 'success' },
        finished: { title: 'Завершен', color: 'secondary' }
    }

    schools = [{
        id: 1,
        status: "planned",
        title: "Профессия Android-разработчик",
        lessons: 29,
        completedLessons: 15,
        description: "Android-разработчик занимается cозданием, обновлением, усовершенствованием мобильных приложений и ПО для смартфонов, планшетов, электронных книг, игровых приставок и других девайсов, работающих на операционной системе Android.",
        startDate: "01.06.2021",
        endDate: "30.07.2021",
        team: [2, 3, 4, 5, 6],
        isActive: false
    }, {
        id: 2,
        status: "planned",
        title: "Профессия Frontend-разработчик",
        lessons: 44,
        completedLessons: 0,
        description: 'Frontend-разработчик отвечает за внешний вид сайта или мобильного приложения: он верстает шаблоны, красиво оформляет текст и изображения, улучшает взаимодействие пользователя с интерфейсом. Без frontend-разработчика не получится создать удобный цифровой продукт.',
        startDate: '02/01/2018',
        endDate: '03/12/2018',
        team: [7, 8, 9],
        isActive: false
    }, {
        id: 3,
        status: "active",
        title: "Алгоритмы и структуры данных",
        lessons: 54,
        completedLessons: 48,
        description: "Курс знакомит слушателей с базовыми структурами данных и алгоритмами, знание которых необходимо для эффективного решения разнообразных задач программирования. Авторы курса занимаются поиском и подготовкой одаренных в области информатики и программирования студентов и школьников. Под их руководством студенческие команды многократно становились чемпионами России по программированию, чемпионами мира и Европы.",
        startDate: "20.02.2021",
        endDate: "20.05.2021",
        team: [10, 1, 5],
        isActive: true
    }, {
        id: 4,
        status: "active",
        title: "Профессия Backend-разработчик",
        lessons: 70,
        completedLessons: 45,
        description: "Backend разработчик  (с англ. back-end (оборотная сторона) developer) — это специалист, который занимается программно-административной частью веб-приложения, внутренним содержанием системы, серверными технологиями — базой данных, архитектурой, программной логикой. Кстати, в 2021 году центр профориентации ПрофГид разработал точный тест на профориентацию. Он сам расскажет вам, какие профессии вам подходят, даст заключение о вашем типе личности и интеллекте.",
        startDate: "01.10.2020",
        endDate: "25.12.2020",
        team: [2, 3, 4],
        isActive: true
    }, {
        id: 5,
        status: "finished",
        title: 'Машинное обучение',
        lessons: 20,
        completedLessons: 20,
        description: 'Обширный подраздел искусственного интеллекта, изучающий методы построения алгоритмов, способных обучаться. Различают два типа обучения. Обучение по прецедентам, или индуктивное обучение, основано на выявлении общих закономерностей по частным эмпирическим данным.',
        startDate: "01.10.2020",
        endDate: "25.12.2020",
        team: [5, 6, 7, 8],
        isActive: true
    }]

    mounted() {
        this.fetchSchools()

    }

    async fetchSchools() {
        try {
            const response = await http.post('/admin/courses')
            //this.schools = response.data.schools
        } catch (error) {
            this.showErrorToast({ text: 'Ошибка при загрузке слов' })
            this.schools = []
            console.log('error', error)
        }
    }


    completedPercent(lessons: number, completed: number) {
        return Math.round((completed / lessons) * 100)
    }

}
</script>
