<template>
    <div>

        <h4 class="py-3 mb-4">
            <b-breadcrumb :items="projectPath" class="font-weight-bold m-0" />
        </h4>

        <!-- Header -->
        <div class="border-right-0 border-left-0 ui-bordered container-m--x mb-4">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-9">
                    <div class="media-body container-p-x py-4">
                        <div class="d-flex justify-content-between align-items-center mb-1">
                            <div><strong style="margin-right: 10px" class="text-primary text-large">{{completedPercent(projectData.tasks, projectData.completedTasks)}}%</strong> завершено</div>
                            <div class="text-muted small">{{projectData.tasks - projectData.completedTasks}} открыто задач, {{projectData.completedTasks}} задач выполнено</div>
                        </div>
                        <b-progress :value="completedPercent(projectData.tasks, projectData.completedTasks)" height="4px" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="container-p-x py-4">
                        <div class="text-muted small">Status</div>
                        <strong class="text-big" :class="`text-${statuses[projectData.status].color}`">{{statuses[projectData.status].title}}</strong>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Header -->

        <div class="row">
            <div class="col">

                <!-- Description -->
                <b-card header="Description" header-tag="h6" class="mb-4">
                    <div v-html="projectData.description"></div>
                </b-card>
                <!-- / Description -->
                <b-card no-body class="mb-4">
                    <b-card-header header-class="h6" class="with-elements">
                        <span class="card-header-title">Участников</span>
                    </b-card-header>
                    <b-list-group :flush="true">
                        <li v-for="member in projectData.team" :key="member.name" class="list-group-item">
                            <div class="media align-items-center">
                                <img style="width: 30px; height: 30px;" :src="`http://localhost:8080/images/${member.avatar}`" class="d-block ui-w-30 rounded-circle" alt="">
                                <div class="media-body px-2">
                                    <a href="javascript:void(0)" class="text-dark">{{member.name}}</a>
                                </div>
                            </div>
                        </li>
                    </b-list-group>
                </b-card>

            </div>
            <div class="col-md-4 col-xl-3">

                <!-- Project details -->
                <b-card no-body class="mb-4">
                    <b-card-header header-tag="h6">Project details</b-card-header>
                    <b-list-group :flush="true">
                        <b-list-group-item class="d-flex justify-content-between align-items-center">
                            <div class="text-muted">IT-школа</div>
                            <div><a href="javascript:void(0)">{{projectData.client.name}}</a></div>
                        </b-list-group-item>
                        <b-list-group-item class="d-flex justify-content-between align-items-center">
                            <div class="text-muted">Создано</div>
                            <div><a href="javascript:void(0)">{{projectData.createdBy.name}}</a></div>
                        </b-list-group-item>
                        <b-list-group-item class="d-flex justify-content-between align-items-center">
                            <div class="text-muted">Дата начало</div>
                            <div>{{projectData.created}}</div>
                        </b-list-group-item>
                        <b-list-group-item class="d-flex justify-content-between align-items-center">
                            <div class="text-muted">Дата окончания</div>
                            <div><strong>{{projectData.deadline}}</strong></div>
                        </b-list-group-item>
                        <b-list-group-item class="d-flex justify-content-between align-items-center">
                            <div class="text-muted">Уровни</div>
                            <b-dropdown :variant="priorityDropdownVariant(projectData.priority)" :right="!isRTL">
                                <template slot="button-content">
                                    <span v-if="projectData.priority === 1">Сложный</span>
                                    <span v-if="projectData.priority === 2">Средний</span>
                                    <span v-if="projectData.priority === 3">Легкий</span>
                                </template>
                                <b-dropdown-item href="javascript:void(0)" :active="projectData.priority === 1">Сложный</b-dropdown-item>
                                <b-dropdown-item href="javascript:void(0)" :active="projectData.priority === 2">Средний</b-dropdown-item>
                                <b-dropdown-item href="javascript:void(0)" :active="projectData.priority === 3">Легкий</b-dropdown-item>
                            </b-dropdown>
                        </b-list-group-item>

                        <b-list-group-item v-if="projectData.tags && projectData.tags.length">
                            <div class="text-muted small">Tags</div>
                            <div class="d-flex flex-wrap">
                                <div v-for="tag in projectData.tags" :key="tag" class="badge badge-default mt-1 mr-1">{{tag}}</div>
                            </div>
                        </b-list-group-item>
                    </b-list-group>
                </b-card>
                <!-- / Project details -->

                <!-- Leaders -->
                <b-card no-body class="mb-4">
                    <b-card-header header-class="h6" class="with-elements">
                        <span class="card-header-title">Преподаватель</span>
                    </b-card-header>
                    <b-list-group :flush="true">
                        <div v-for="leader in projectData.leaders" :key="leader.name" class="list-group-item">
                            <div class="media align-items-center">
                                <img style="width: 30px; height: 30px;" :src="`http://localhost:8080/images/${leader.avatar}`" class="d-block ui-w-30 rounded-circle" alt="">
                                <div class="media-body px-2">
                                    <a href="javascript:void(0)" class="text-dark">{{leader.name}}</a>
                                </div>
                            </div>
                        </div>
                    </b-list-group>
                </b-card>
                <!-- / Leaders -->

            </div>
        </div>

    </div>
</template>

<!-- Page -->
<style src="@/vendor/styles/pages/projects.scss" lang="scss"></style>

<script>
import draggable from 'vuedraggable'

export default {
    name: 'pages-projects-item',
    metaInfo: {
        title: 'Project item - Pages'
    },
    components: {
        draggable
    },
    data: () => ({
        projectPath: [
            { text: 'IT-Сube' },
            { text: 'Профессия Android-разработчик', active: true }
        ],

        statuses: {
            1: { title: 'В процессе', color: 'success' },
            2: { title: 'Pending', color: 'warning' }
        },

        // Tags
        taskTags: {
            clients: { title: 'Clients', color: 'success' },
            important: { title: 'Important', color: 'danger' },
            social: { title: 'Social', color: 'info' },
            other: { title: 'Other', color: 'warning' }
        },

        projectData: {
            title: 'Frontend Development',
            status: 1,
            priority: 1,
            tasks: 29,
            completedTasks: 15,

            description: `
      <p>Android-разработчик — это программист, который специализируется на написании программ и игр для операционной системы Android. Именно от него зависит, насколько удобным, стабильным и безопасным будет приложение. Разработчик создает приложения не только для планшетов и смартфонов, но и для носимых устройств на базе Android Wear, Smart TV и даже для бытовой техники.</p>
      `,

            created: '02.01.2018',
            lastUpdate: '02.18.2018',
            deadline: '03.12.2018',

            hourRate: 35,
            hours: 74,

            tags: ['Development', 'Android', 'Kotlin'],

            createdBy: {
                name: 'Mae Gibson'
            },

            client: {
                name: 'IT-Cube'
            },

            leaders: [
                { avatar: 'avatar-1.png', name: 'Mike Greene' }
            ],

            team: [
                { avatar: 'avatar-2.png', name: 'Leon Wilson' },
                { avatar: 'avatar-3.png', name: 'Allie Rodriguez' },
                { avatar: 'avatar-4.png', name: 'Kenneth Frazier' },
                { avatar: 'avatar-5.png', name: 'Nellie Maxwell' }
            ],

            attachments: [
                { name: 'image_1.jpg', size: '527KB', path: 'img/bg/5.jpg' },
                { name: 'image_2.jpg', size: '269KB', path: 'img/bg/6.jpg' },
                { name: 'assignment_letter.pdf', size: '156KB', path: '/path/to/assignment_letter.pdf' },
                { name: 'app_update.zip', size: '1.35MB', path: '/path/to/app_update.zip' }
            ],

            taskSections: [{
                title: 'Frontend',
                tasks: [
                    { text: 'Update User profile page', tags: ['other'], completed: false },
                    { text: 'Add images to the product gallery', completed: false },
                    { text: 'Create invoice template', completed: false }
                ]
            }, {
                title: 'Backend',
                tasks: [
                    { text: 'New blog layout', tags: ['clients'], completed: false },
                    { text: 'Create UI design model', completed: false },
                    { text: 'Help Web devs with HTML integration', completed: false },
                    { text: 'New icons set for an iOS app', completed: false },
                    { text: 'Create ad campaign banners set', completed: false },
                    { text: 'Edit the draft for the icons', completed: false },
                    { text: 'Fix validation issues and commit', tags: ['important'], completed: false },
                    { text: 'Support tickets list doesn\'t support commas', completed: false }
                ]
            }],

            discussion: [{
                text: 'Pellentesque faucibus, nisl vel luctus porttitor, leo felis pellentesque augue, dignissim tempus risus odio sed lorem. Nunc nec malesuada nunc, ut mollis dui.',
                date: '2:33 am',
                user: { avatar: '1-small.png', name: 'Mike Greene' }
            }, {
                text: 'Quisque sodales, tortor et elementum dapibus, nisl urna hendrerit metus, a rhoncus magna sem in libero.',
                date: '2:34 am',
                user: { avatar: '5-small.png', name: 'Nelle Maxwell' }
            }, {
                text: 'Cum ea graeci tractatos.',
                date: '2:38 am',
                user: { avatar: '1-small.png', name: 'Mike Greene' }
            }, {
                text: 'Cras ultrices, dui id vulputate laoreet, diam orci semper ipsum, a aliquet nunc quam vitae turpis. Donec cursus tortor nec turpis semper, ac luctus mauris sagittis.',
                date: '2:38 am',
                user: { avatar: '2-small.png', name: 'Leon Wilson' }
            }, {
                text: 'Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.',
                date: '2:38 am',
                user: { avatar: '3-small.png', name: 'Allie Rodriguez' }
            }, {
                text: 'Aliquam ornare nisl semper nisl porttitor commodo vel vel libero.',
                date: '2:38 am',
                user: { avatar: '5-small.png', name: 'Kenneth Frazier' }
            }],

            activities: [{
                type: 'new_task',
                date: '2 hours',
                user: { avatar: '1-small.png', name: 'Mike Greene' },
                data: { taskTitle: 'Create invoice template' }
            }, {
                type: 'pushed_commit',
                date: '2 hours',
                user: { avatar: '2-small.png', name: 'Leon Wilson' },
                data: { commitId: 950458 }
            }, {
                type: 'pushed_commit',
                date: '2 hours',
                user: { avatar: '3-small.png', name: 'Allie Rodriguez' },
                data: { commitId: 950457 }
            }, {
                type: 'pushed_commit',
                date: '2 hours',
                user: { avatar: '5-small.png', name: 'Nellie Maxwell' },
                data: { commitId: 950456 }
            }, {
                type: 'completed_task',
                date: '2 hours',
                user: { avatar: '4-small.png', name: 'Kenneth Frazier' },
                data: { taskTitle: 'Google AdWords campain graphics' }
            }, {
                type: 'pushed_commit',
                date: '2 hours',
                user: { avatar: '4-small.png', name: 'Kenneth Frazier' },
                data: { commitId: 950455 }
            }, {
                type: 'new_task',
                date: '2 hours',
                user: { avatar: '5-small.png', name: 'Nellie Maxwell' },
                data: { taskTitle: 'Edit the draft for the icons' }
            }, {
                type: 'new_participant',
                date: '2 hours',
                user: { avatar: '1-small.png', name: 'Mike Greene' },
                data: { userName: 'Nellie Maxwell' }
            }]
        },

        draggableOptions: {
            animation: 150,
            handle: '.project-task-handle',
            group: {
                name: 'project-task-list',
                put: true,
                pull: true
            }
        }
    }),
    methods: {
        completedPercent (tasks, completed) {
            return Math.round((completed / tasks) * 100)
        },
        isImage (file) {
            return /\.jpg$|\.png$|\.gif$/i.test(file.name)
        },
        isFile (file) {
            return !/\.jpg$|\.png$|\.gif$/i.test(file.name)
        },
        fileIcon (file) {
            let icon = 'far fa-file'

            if (/\.zip$|\.tar$|\.tar\.gz$|\.rar$/i.test(file.name)) icon = 'far fa-file-archive'
            if (/\.mp3$|\.wma$|\.ogg$|\.flac$|\.aac$/i.test(file.name)) icon = 'far fa-file-audio'
            if (/\.avi$|\.flv$|\.wmv$|\.mov$|\.mp4$/i.test(file.name)) icon = 'far fa-file-video'
            if (/\.js$|\.es6$|\.ts$/i.test(file.name)) icon = 'fab fa-js'
            if (/\.doc$|\.docx$/i.test(file.name)) icon = 'far fa-file-word'
            if (/\.htm$|\.html$/i.test(file.name)) icon = 'fab fa-html5'
            if (/\.pdf$/i.test(file.name)) icon = 'far fa-file-pdf'
            if (/\.txt$/i.test(file.name)) icon = 'far fa-file-alt'
            if (/\.css$/i.test(file.name)) icon = 'fab fa-css3'

            return icon
        },
        priorityDropdownVariant (priority) {
            let variant

            if (priority === 1) variant = 'danger'
            if (priority === 2) variant = 'success'
            if (priority === 3) variant = 'warning'

            return `${variant} btn-xs md-btn-flat`
        }
    }
}
</script>
