<template>
    <div>

        <div class="bg-white container-m--x container-m--y mb-4">
            <div class="media col-md-10 col-lg-8 col-xl-7 py-5 mx-auto">
                <img :src="`http://localhost:8080/images/avatar-9.png`"
                     alt
                     class="d-block ui-w-100 rounded-circle"
                     style="height: 90px; width: 90px;"
                >
                <div class="media-body ml-5">
                    <h4 class="font-weight-bold mb-2">Амина Алиева</h4>

                    <div class="text-muted mb-3">
                        Хочу быть разрабом как Дэн Абрамов
                    </div>

                    <a href="javascript:void(0)" class="d-inline-block text-dark">
                        <strong>3</strong>
                        <span class="text-muted ml-2">пройденных курса</span>
                    </a>

                    <a href="javascript:void(0)" class="d-inline-block text-dark ml-2">
                        <strong>1</strong>
                        <span class="text-muted ml-2">активный курс</span>
                    </a>
                </div>
            </div>
            <hr class="m-0">
        </div>
        <!-- Header -->

        <div class="row">
            <div class="col">

                <!-- Info -->
                <b-card no-body class="mb-4">
                    <b-card-body>

                        <div class="row mb-2">
                            <div class="col-md-3 text-muted">День рождения:</div>
                            <div class="col-md-9">
                                3 мая, 2004 года
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-md-3 text-muted">Статус:</div>
                            <div class="col-md-9">
                                <a href="javascript:void(0)" class="text-dark">В поиске команды</a>
                            </div>
                        </div>

                        <h6 class="my-3">Место учебы</h6>

                        <div class="row mb-2">
                            <div class="col-md-3 text-muted">Школа:</div>
                            <div class="col-md-9">
                                Лицей №22
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-md-3 text-muted">Класс:</div>
                            <div class="col-md-9">
                                10 А
                            </div>
                        </div>

                        <h6 class="my-3">Интересы</h6>

                        <div class="row mb-2">
                            <div class="col-md-3 text-muted">Профессиональные:</div>
                            <div class="col-md-9">
                                <a href="javascript:void(0)" class="text-dark">Олимпиадное программирование</a>,
                                <a href="javascript:void(0)" class="text-dark">Проджект-менеджмент</a>,
                                <a href="javascript:void(0)" class="text-dark">саморазвитие, тайм-менеджмент</a>,
                                <a href="javascript:void(0)" class="text-dark">математика и алгоритмы</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 text-muted">Оффтоп:</div>
                            <div class="col-md-9">
                                <a href="javascript:void(0)" class="text-dark">Вязание</a>,
                                <a href="javascript:void(0)" class="text-dark">Прогулки с подругами</a>
                            </div>
                        </div>

                    </b-card-body>
                </b-card>
                <!-- / Info -->

                <!-- Posts -->

                <b-card class="mb-4">
                    <p>
                        Aliquam varius euismod lectus, vel consectetur nibh tincidunt vitae. In non dignissim est. Sed
                        eu ligula metus. Vivamus eget quam sit amet risus venenatis laoreet ut vel magna. Sed dui
                        ligula, tincidunt in nunc eu, rhoncus iaculis nisi.
                    </p>
                    <p>
                        Sed et convallis odio, vel laoreet tellus. Vivamus a leo eu metus porta pulvinar. Pellentesque
                        tristique varius rutrum.
                    </p>

                </b-card>

                <!-- / Posts -->

                <b-card-body style="background-color: white;">

                    <div class="table-responsive">
                        <b-table
                            :items="productData.courses"
                            class="product-item-discounts-table"
                            :fields="productData.fields"
                        >
                            <template slot="status" slot-scope="data">
                                <div>
                                    <b-badge
                                        variant="badge badge-primary badge-pill py-1 px-2"
                                        v-if="data.item.status === 'active'">В процессе</b-badge>
                                    <b-badge
                                        variant="badge badge-success badge-pill py-1 px-2"
                                        v-if="data.item.status === 'planned'">Не начался</b-badge>
                                    <b-badge
                                        variant="badge badge-default badge-pill py-1 px-2"
                                        v-if="data.item.status === 'finished'">Завершено</b-badge>
                                </div>
                            </template>
                        </b-table>
                    </div>

                </b-card-body>

            </div>
            <div class="col-xl-4">

                <!-- Side info -->
                <b-card no-body class="mb-4">
                    <b-card-body>
                        <p class="mb-2">
                            <i class="ion ion-md-desktop ui-w-30 text-center text-lighter"></i>Front-end разработчик</p>
                        <p class="mb-2">
                            <i class="ion ion-ios-navigate ui-w-30 text-center text-lighter"></i>Махачкала, Дагестан
                        </p>
                        <p class="mb-0">
                            <i class="ion ion-md-globe ui-w-30 text-center text-lighter"></i>
                            <a href="javascript:void(0)" class="text-dark">amina-dev.com</a>
                        </p>
                    </b-card-body>
                    <hr class="border-light m-0">
                    <b-card-body>
                        <a href="javascript:void(0)" class="d-block text-dark mb-2">
                            <i class="ion ion-logo-twitter ui-w-30 text-center text-twitter"></i> @amina.dev
                        </a>
                        <a href="javascript:void(0)" class="d-block text-dark mb-0">
                            <i class="ion ion-logo-instagram ui-w-30 text-center text-instagram"></i> @amina.dev
                        </a>
                    </b-card-body>
                </b-card>
                <!-- / Side info -->

                <!-- Skills -->
                <b-card class="mb-4" header="Skills">
                    <div class="mb-1">HTML - <span class="text-muted">1.5 года</span></div>
                    <div class="progress mb-3" style="height: 4px;">
                        <div class="progress-bar bg-secondary" style="width: 80%;"></div>
                    </div>

                    <div class="mb-1">CSS - <span class="text-muted">1.5 года</span></div>
                    <div class="progress mb-3" style="height: 4px;">
                        <div class="progress-bar bg-success" style="width: 70%;"></div>
                    </div>

                    <div class="mb-1">Javascript - <span class="text-muted">1 год</span></div>
                    <div class="progress mb-3" style="height: 4px;">
                        <div class="progress-bar bg-warning" style="width: 65%;"></div>
                    </div>

                    <div class="mb-1">UI/UX - <span class="text-muted">1 год</span></div>
                    <div class="progress" style="height: 4px;">
                        <div class="progress-bar bg-danger" style="width: 50%;"></div>
                    </div>
                </b-card>
                <!-- / Skills -->

            </div>
        </div>

    </div>
</template>

<script>
export default {
    name: 'pages-profile-v1',
    metaInfo: {
        title: 'Profile v1 - Pages'
    },
    data: () => ({
        productData: {
            id: 3455632,
            title: 'IT-сube',
            city: 'Махачкала',
            category: 'IT-школа',
            tax: 25,
            status: 1,
            site: "http://xn--80acudg0cj.xn--p1ai/",
            email: "itcube@fnfro.ru",
            address: "Хаджалмахинская, 41А",

            // Statistics
            rating: 4.3,
            reviews: 123,
            sales: 43,
            views: 451,
            wished: 3671,

            courseTitles: {
                number: 'Номер',
            },
            fields: [
                { key: 'id', label: 'ID', sortable: true, tdClass: 'align-middle' },
                { key: 'name', label: 'Название', sortable: true, tdClass: 'align-middle' },
                { key: 'grade', label: 'Класс', sortable: true, tdClass: 'align-middle', thStyle: 'width: 10rem' },
                { key: 'status', label: 'Статус', sortable: true, tdClass: 'align-middle', thStyle: 'width: 10rem' },
            ],
            // Courses
            courses: [
                { id: '1', name: 'Основы алгоритмики и логики', status: "finished",   grade: '5-11'},
                { id: '2', name: 'Кибергигена и большие данные', status: "finished",  grade: '9-11'},
                { id: '3', name: 'VR/AR-разработка', status: "finished",  grade: '7-11'},
                { id: '5', name: 'Мобильная разработка', status: "active",  grade: '9-11'}
            ],
        }
    }),
}
</script>
