<template lang="pug">
    sidenav(:orientation="orientation" :class="curClasses")
        .sidenav-inner(:class="{ 'py-1': orientation !== 'horizontal' }")
            template(
                v-for="link in links"
            )
                sidenav-router-link(
                    v-if="!hasSubItems(link) && checkItemPermission(link)"
                    :icon="link.icon"
                    :to="link.url"
                    :exact="true"
                )
                    span(v-if="!hasSubItems(link) && checkItemPermission(link)") {{link.title}}
                sidenav-menu(
                    v-if="hasSubItems(link) && checkItemPermission(link)"
                    :icon="link.icon"
                )
                    template(v-if="hasSubItems(link)" slot="link-text") {{link.title}}
                    sidenav-router-link(
                        v-for="subItem in link.items || []"
                        v-if="checkItemPermission(subItem)"
                        :key="subItem.url"
                        :icon="subItem.icon"
                        :to="subItem.url"
                        :exact="true"
                    ) {{subItem.title}}
</template>

<script lang="ts">
import {
    Sidenav,
    SidenavBlock,
    SidenavDivider,
    SidenavHeader,
    SidenavLink,
    SidenavMenu,
    SidenavRouterLink
} from '@/vendor/libs/sidenav'
import Component, { mixins } from "vue-class-component";
import { UserProfileMixins } from "@/mixins/shared/userProfileMixinsTs";
import { Prop } from "vue-property-decorator";

@Component({
    name: 'admin-sidenav',
    components: {
        Sidenav,
        SidenavLink,
        SidenavRouterLink,
        SidenavMenu,
        SidenavHeader,
        SidenavBlock,
        SidenavDivider
    }
})
export default class AdminSidenav extends mixins(UserProfileMixins) {

    @Prop({ default: 'vertical' })
    orientation!: string
    links = [
        {
            title: 'Главная',
            icon: 'ion ion-md-home',
            url: '/admin',
        },
        {
            title: 'Школы',
            icon: 'ion ion-md-list',
            url: '/admin/schools',
            permission: 'schools:view',
        },
        {
            title: 'Рейтинг учеников',
            icon: 'ion ion-md-list',
            url: '/admin/rating',
            permission: 'rating:view',
        },
        {
            title: 'IT школы',
            icon: 'ion ion-md-create',
            url: '/admin/clubs',
            permission: 'clubs:view',
        },
        {
            title: 'Курсы',
            icon: 'ion ion-ios-apps',
            url: '/admin/courses',
            permission: 'courses:view',
        },
        {
          title: 'Университеты',
          icon: 'ion ion-ios-apps',
          url: '/admin/universities',
          permission: 'universities:view',
        },
      {
        title: 'IT Компании',
        icon: 'ion ion-ios-apps',
        url: '/admin/companies',
        permission: 'companies:view',
      },
    ]

    get curClasses() {
        let bg = this.layoutSidenavBg

        if (this.orientation === 'horizontal' && (bg.indexOf(' sidenav-dark') !== -1 || bg.indexOf(' sidenav-light') !== -1)) {
            bg = bg
                .replace(' sidenav-dark', '')
                .replace(' sidenav-light', '')
                .replace('-darker', '')
                .replace('-dark', '')
        }

        return `bg-${bg} ` + (
            this.orientation !== 'horizontal'
                ? 'layout-sidenav'
                : 'layout-sidenav-horizontal container-p-x flex-grow-0'
        )
    }

    hasSubItems(item: any): boolean {
        return item.items !== undefined
    }

    isMenuActive(url: string): boolean {
        return this.$route.path.indexOf(url) === 0
    }

    isMenuOpen(url: string): boolean {
        return this.$route.path.indexOf(url) === 0
    }

    toggleSidenav() {
        this.layoutHelpers.toggleCollapsed()
    }

}
</script>
