<template lang="pug">
    div
        div.overflow-hidden
            div.container.d-flex.align-items-stretch.ui-mh-100vh.p-0
                div.row.w-100
                    div.d-flex.col-md.justify-content-center.align-items-center.order-2.order-md-1.position-relative.p-5
                        div.error-bg-skew.bg-white
                        div.text-md-left.text-center
                            h1.display-2.font-weight-bolder.mb-4 Ууупс...
                            div(v-html="pageInfo.fullMessage").text-xlarge.font-weight-light.mb-5
                            button(
                                class="btn btn-primary"
                                v-if="pageInfo.showBackButton"
                                type="button"
                                @click="goBack"
                            ) ←  Назад
                    div.d-flex.col-md-5.justify-content-center.align-items-center.order-1.order-md-2.text-center.text-white.p-5
                        div
                            div.error-code.font-weight-bolder.mb-2 {{ pageInfo.code }}
                            div.error-description.font-weight-light {{ pageInfo.codeDescription }}
</template>

<style src="@/vendor/styles/error.scss" lang="scss"/>

<script>
import pagesData from './errorPagesData'

export default {
    props: ['errorCode'],
    name: 'NotFound',
    metaInfo: {
        title: 'Error'
    },
    data: () => ({
        pageInfo: {
            code: -1,
            codeDescription: "Error message",
            showBackButton: true
        }
    }),
    methods: {
        goBack() {
            this.$router.go(-1)
        }
    },
    created() {
        const code = this.$props.errorCode
        this.pageInfo = pagesData[code]
    }
}
</script>
