<template lang="pug">
    div
        h4.font-weight-bold.py-3.mb-4
            | Главная
            .text-muted.text-tiny.mt-1
                small.font-weight-normal Today is Tuesday, 8 February 2018

        .row
            .col-sm-6.col-xl-3(v-for="item in mainStatistics")
                statistics-icon-card(
                    :label="item.label"
                    :icon="item.icon"
                    :iconColor="item.iconColor"
                    :value="item.value"
                )
        .row
            div.col-12.col-md-6.col-lg-8
                most-popular-queries-card
            div.col-12.col-md-6.col-lg-4
                b-card.mb-4(no-body)
                    b-card-header.with-elements(header-tag='h6')
                        .card-header-title Статусы слова
                        .card-header-elements.ml-auto
                            b-btn.btn-xs.icon-btn.md-btn-flat(variant='outline-primary')
                                i.ion.ion-md-sync
                    .py-4.px-3
                        word-status-chart(:height='162' :values="wordStatusesStatistics")
        .row
            .col-12.col-md-6.col-xl-3(v-for="item in otherStatistics")
                statistics-card(
                    :label="item.label"
                    :isUp="item.isUp"
                    :value="item.value"
                    :percentsValue="item.percentsValue"
                    :totalValue="item.totalValue"
                )

</template>

<script>
import wordStatusChart from './wordStatusChart'
import mostPopularQueriesCard from "./mostPopularQueriesCard"
import statisticsIconCard from "./statisticsIconCard"
import statisticsCard from "./statisticsCard"
import http from "../../../httpService"

export default {
    name: 'dashboard',
    metaInfo: {
        title: 'Kalimat'
    },
    components: {
        mostPopularQueriesCard,
        wordStatusChart,
        statisticsIconCard,
        statisticsCard
    },
    data: () => ({
        wordStatusesStatistics: [0, 0, 0],
        mainStatistics: [
            {
                label: 'Количество слов',
                icon: 'ion ion-ios-apps',
                iconColor: 'text-success',
                value: 0
            },
            {
                label: 'Правок за месяц',
                icon: 'ion ion-ios-paper-plane',
                iconColor: 'text-info',
                value: 0
            },
            {
                label: 'Отредактировано слов (за месяц)',
                icon: 'ion ion-ios-analytics',
                iconColor: 'text-danger',
                value: 0
            },
            {
                label: 'Users',
                icon: 'ion ion-ios-paper-plane',
                iconColor: 'text-warning',
                value: 0
            }
        ],
        otherStatistics: [
            {
                label: 'Monthly clicks',
                isUp: true,
                value: 3.235,
                percentsValue: 11.25,
                totalValue: 46.536
            },
            {
                label: 'Monthly impressions',
                isUp: true,
                value: 8.267,
                percentsValue: 5.38,
                totalValue: 20.369
            },
            {
                label: 'Monthly clicks',
                isUp: false,
                value: 3.235,
                percentsValue: 11.25,
                totalValue: 46.536
            },
            {
                label: 'Monthly clicks',
                isUp: true,
                value: 3.235,
                percentsValue: 11.25,
                totalValue: 46.536
            }
        ]
    }),

}
</script>
