<template lang="pug">
    b-card.mb-4(no-body="")
        b-card-header.with-elements(header-tag="h6")
            .card-header-title Самые популярные запросы
            .card-header-elements.ml-auto
                b-btn.btn-xs.md-btn-flat(variant="default") Подробнее
        .table-responsive
            table.table.card-table.m-0
                tbody
                    tr
                        td.border-top-0.text-nowrap.align-middle
                            a.text-dark(href="http://www.google.com") книга
                        td.w-100.border-top-0.align-middle
                            .progress(style="height: 4px;")
                                .progress-bar(style="width: 29.77%;")
                        td.border-top-0.text-nowrap.align-middle
                            | 11,963
                            span.text-muted.small 29.77%
                    tr
                        td.text-nowrap.align-middle
                            a.text-dark(href="http://www.google.de") ручка
                        td.align-middle
                            .progress(style="height: 4px;")
                                .progress-bar.bg-success(style="width: 28.39%;")
                        td.text-nowrap.align-middle
                            | 11,963
                            span.text-muted.small 28.39%
                    tr
                        td.text-nowrap.align-middle
                            a.text-dark(href="http://www.twitter.com") дом
                        td.align-middle
                            .progress(style="height: 4px;")
                                .progress-bar.bg-info(style="width: 23.65%;")
                        td.text-nowrap.align-middle
                            | 9,965
                            span.text-muted.small 23.65%
                    tr
                        td.text-nowrap.align-middle
                            a.text-dark(href="http://www.facebook.com") человек
                        td.align-middle
                            .progress(style="height: 4px;")
                                .progress-bar.bg-warning(style="width: 10.02%;")
                        td.text-nowrap.align-middle
                            | 4,223
                            span.text-muted.small 10.02%
                    tr
                        td.text-nowrap.align-middle
                            a.text-dark(href="http://www.yahoo.com") язык
                        td.align-middle
                            .progress(style="height: 4px;")
                                .progress-bar.bg-danger(style="width: 8.15%;")
                        td.text-nowrap.align-middle
                            | 3,437
                            span.text-muted.small 8.15%


</template>

<script>

export default {
    name: 'MostPopularQueriesCard'
}
</script>
