<template lang="pug">
    b-card.mb-4
        .d-flex.align-items-center
            div(:class="`${icon} ${iconColor} display-4`")
            .ml-3
                .text-muted.small {{ label }}
                .text-large {{ value }}
</template>

<script>
export default {
    name: "RevisionBadge",
    props: {
        label: String,
        icon: String,
        iconColor: String,
        value: Number,
    },
}
</script>
