<template lang="pug">
    b-card.mb-4(no-body='')
        b-card-header.border-0.pb-0 {{ label }}
        b-card-body(:class="`${ color }`").text-center.text-xlarge.py-3 {{ value }}
        b-card-footer.border-0.small.pt-0
            .float-right(:class="`${ color }`")
                small(:class="`ion ${isUp ? 'ion-md-arrow-round-up' : 'ion-md-arrow-round-down' }`")
                |  {{ percentsValue }}%
            span.text-muted Total: {{ totalValue }}
</template>

<script>
export default {
    name: "RevisionBadge",
    props: {
        label: String,
        value: Number,
        percentsValue: Number,
        totalValue: Number,
        isUp: Boolean,
    },
    computed: {
        color() {
            return this.isUp ? 'text-success' : 'text-danger'
        }
    }
}
</script>
