<template lang="pug">
    div Записей на странице:  
        b-select(
            size="sm"
            class="d-inline-block w-auto"
            v-model="value"
            :options="[10, 20, 30, 40, 50]"
        )
</template>

<script lang="ts">
import Component from "vue-class-component"
import Vue from "vue"

@Component
export default class PageSizeSelector extends Vue {

    value: number = 10;

    get pageSize(): number {
        return localStorage.pageSize || 10
    }

    created() {
        this.value = this.pageSize;

        this.$watch(() => [this.value], val => {
            if (val) {
                localStorage.pageSize = val;
                this.$emit('change', val)
            }
        })
    }
}
</script>
