<template lang="pug">
    b-card-body.pt-0.pb-3
        .row
            .col-sm.text-sm-left.text-center.pt-3
                span.text-muted(v-if="pagination.pageCount")
                    | Страница {{ pagination.currentPage }} из {{ pagination.pageCount }}
            .col-sm.pt-3(v-if="pagination.itemsCount")
                b-pagination(
                    class="m-0"
                    align="right"
                    v-model="pagination.currentPage"
                    :total-rows="pagination.itemsCount"
                    :per-page="pagination.pageSize"
                )
</template>

<script lang="ts">
import Component, { mixins } from "vue-class-component"
import { Emit, Prop, Watch } from "vue-property-decorator";
import Vue from "vue"
import { UrlBindingMixins } from "@/mixins/shared/urlBindingMixins";

@Component
export default class Pagination extends mixins(UrlBindingMixins) {


    @Prop()
    generateUrl!: boolean;

    @Emit("onPageUpdated")
    onPageUpdated() {
    }

    private pagination = {
        currentPage: 1,
        pageSize: 10,
        itemsCount: 0,
        pageCount: 1,
    };

    get pageSize() {
        return this.pagination.pageSize
    }

    get page() {
        return this.pagination.currentPage
    }

    created() {
        this.bindQueryParam("pagination.currentPage", "page", String(this.pagination.currentPage))

        this.$watch(() => [this.pagination.pageSize], val => {
            localStorage.pageSize = this.pagination.pageSize
        });
        this.$watch(() => [this.pagination.currentPage, this.pagination.pageSize], val => {
            this.onPageUpdated()
        })
    }

    public setCurrentPage(page?: number) {
        console.log("currentPage: ", this.pagination.currentPage)
        this.pagination.currentPage = page ? page : 1
    }

    public setPageData(pageCount: number, itemsCount: number) {
        this.pagination.pageCount = pageCount || 1;
        this.pagination.itemsCount = itemsCount;
    }

    public setPageSize(pageSize: number) {
        this.pagination.pageSize = pageSize
    }
}
</script>
