<template lang="pug">
    div
        multiselect(
            v-model="selectedUsers"
            :options="allUsers"
            :multiple="multiple"
            :searchable="true"
            :loading="isLoading",
            :clear-on-select="false",
            :preserve-search="true",
            placeholder="Введите имя пользователя"
            track-by="userName"
            label="userName"
            open-direction="bottom",
            @search-change="fetchUsers"
        )
        .error-text(v-if="isSearchError") Ошибка при поиске

</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style src="@/vendor/libs/vue-multiselect/vue-multiselect.scss" lang="scss"></style>

<script lang="ts">
import Vue from "vue"
import Multiselect from 'vue-multiselect'
import Component from "vue-class-component";
import { Emit, Prop, Watch } from "vue-property-decorator";

import http from "../../httpService";

@Component({
    components: { Multiselect }
})
export default class UserSearchInput extends Vue {

    @Prop()
    private value!: number[] | number;
    @Prop()
    private multiple!: boolean;

    private isLoading: boolean = false
    private isSearchError: boolean = false
    private allUsers: UserItem[] = []
    private selectedUsers: UserItem[] | UserItem | null = null

    @Emit()
    input(users: number[] | number) {
    }

    @Watch("selectedUsers", { deep: true })
    private onSelectedUserChanged() {
        if (Array.isArray(this.selectedUsers)) {
            this.input(this.selectedUsers.map(user => user.id))
        } else if (this.selectedUsers) {
            this.input(this.selectedUsers.id)
        }
    }

    @Watch("value")
    async onValueChanged() {
        if (this.value && this.value != 0 && !this.selectedUsers) {
            this.selectedUsers = (await http.get(`/admin/users/${this.value}`)).data
        }
    }

    created() {
        this.fetchUsers("")
    }

    async fetchUsers(query: string) {
        try {
            this.isSearchError = false
            this.isLoading = true
            const response = await http.get('/admin/users', {
                params: {
                    page: 1,
                    pageSize: 100,
                    ...this.allUsers && { userName: query }
                }
            })
            if (response.status === 200) {
                this.allUsers = response.data.users
            }
        } catch (error) {
            this.isSearchError = true
        } finally {
            this.isLoading = false
        }
    }

    resetUsers() {
        this.selectedUsers = []
    }

}

export class UserItem {
    id!: number
    userName!: string
}

</script>

