<template>
    <!-- `.clients-wrapper` fills all available space of container -->
    <div>
        <!-- Header -->
        <h4 class="d-flex flex-wrap justify-content-between align-items-center font-weight-bold pt-2 mb-4">
            <div class="mb-2">Рейтинг учеников</div>
            <div class="mb-2" style="max-width: 200px;">
                <b-input placeholder="Search"/>
            </div>
        </h4>
        <!-- / Header -->

        <!-- Clients list -->
        <div class="table-responsive ui-bordered">
            <table class="clients-table table table-hover m-0">
                <tbody>

                <tr v-for="client in clientsData" :key="client.name"
                    :class="{'bg-light': selected === client && sideboxOpened}" @click="selectClient(client)">
                    <td class="align-middle py-3">
                        <div class="media align-items-center">
                            <img :src="`http://localhost:8080/images/avatar-${client.avatar}.png`"
                                 class="d-block ui-w-40 rounded-circle"
                                 style="height: 40px"
                                 alt="">
                            <div class="media-body flex-basis-auto pl-3">
                                <div>{{ client.name }}</div>
                                <div class="text-muted small">@{{ client.username }}</div>
                            </div>
                        </div>
                    </td>
                    <td class="align-middle py-3">
                        <div v-if="client.specialty">{{ client.specialty }}</div>
                        <div>{{ client.email }}</div>
                    </td>
                    <td class="align-middle py-3">
                        {{ client.school }}
                    </td>
                    <td class="align-middle py-3">
                <span>
                  <i class="ion ion-ios-star" style="color: #e65a39; margin-right: 10px"></i>
                  {{ client.rating }}
                </span>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
        <!-- / Clients sidebox -->

    </div>
    <!-- / Clients wrapper -->
</template>

<!-- Page -->
<style src="@/vendor/styles/pages/clients.scss" lang="scss"></style>

<script>
import PerfectScrollbar from '@/vendor/libs/perfect-scrollbar/PerfectScrollbar'

export default {
    name: 'pages-clients',
    metaInfo: {
        title: 'Clients - Pages'
    },
    components: {
        PerfectScrollbar
    },
    data: () => ({
        selected: null,
        sideboxOpened: true,

        clientsData: [{
            avatar: 9,
            name: 'Alya Mahmudova',
            username: 'alya123',
            email: 'alya@mail.com',
            specialty: 'Designer UI-UX',
            school: 'РМЛ',
            rating: '5,0'
        }, {
            avatar: 2,
            name: 'Amanda Warner',
            username: 'awarner',
            email: 'awarner@mail.com',
            specialty: 'Marketer',
            school: 'Лицей 8',
            status: 1,
            rating: '4,9',
            messages: [
                {
                    content: 'Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.',
                    date: '1 day'
                },
                {
                    content: 'Vivendum torquatos ut nec, sit audiam deterruisset ei, cu sed nibh autem scriptorem. Ea quo vidit deleniti constituto, ex qui malis mollis iudicabit, viris fabellas id has.',
                    date: '2 days'
                },
                {content: 'Eam facilis laboramus reprehendunt ei, ex esse fastidii per.', date: '3 days'},
                {
                    content: 'Ea inani epicurei mea. No docendi antiopam quo, ad dicant viderer cotidieque vix. Ea mea dicat ludus, utroque explicari conclusionemque ius eu, in scaevola tractatos persecuti per.',
                    date: '3 days'
                }
            ]
        }, {
            avatar: 3,
            name: 'Kenneth Frazier',
            username: 'kfrazier',
            email: 'kfrazier@mail.com',
            specialty: 'Android Developer',
            school: 'Гимназия 38',
            status: 3,
            rating: '4,8',
            messages: [
                {
                    content: 'Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.',
                    date: '1 day'
                },
                {
                    content: 'Vivendum torquatos ut nec, sit audiam deterruisset ei, cu sed nibh autem scriptorem. Ea quo vidit deleniti constituto, ex qui malis mollis iudicabit, viris fabellas id has.',
                    date: '2 days'
                },
                {content: 'Eam facilis laboramus reprehendunt ei, ex esse fastidii per.', date: '3 days'},
                {
                    content: 'Ea inani epicurei mea. No docendi antiopam quo, ad dicant viderer cotidieque vix. Ea mea dicat ludus, utroque explicari conclusionemque ius eu, in scaevola tractatos persecuti per.',
                    date: '3 days'
                }
            ]
        }, {
            avatar: 4,
            name: 'Mae Gibson',
            username: 'mgibson',
            email: 'mgibson@mail.com',
            specialty: 'Front-end Developer',
            school: 'Махачкалинский лицей',
            rating: '4,7'
        }, {
            avatar: 5,
            name: 'Arthur Duncan',
            username: 'aduncan',
            email: 'aduncan@mail.com',
            specialty: 'Back-end Developer',
            school: 'Махачкалинский лицей',
            status: 2,
            rating: '4,6'
        }, {
            avatar: 6,
            name: 'Belle Ross',
            username: 'bross',
            email: 'bross@mail.com',
            specialty: 'Full-stack Developer',
            school: 'РМЛ',
            rating: '4,5',
            messages: [
                {
                    content: 'Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.',
                    date: '1 day'
                },
                {
                    content: 'Vivendum torquatos ut nec, sit audiam deterruisset ei, cu sed nibh autem scriptorem. Ea quo vidit deleniti constituto, ex qui malis mollis iudicabit, viris fabellas id has.',
                    date: '2 days'
                },
                {content: 'Eam facilis laboramus reprehendunt ei, ex esse fastidii per.', date: '3 days'},
                {
                    content: 'Ea inani epicurei mea. No docendi antiopam quo, ad dicant viderer cotidieque vix. Ea mea dicat ludus, utroque explicari conclusionemque ius eu, in scaevola tractatos persecuti per.',
                    date: '3 days'
                }
            ]
        }, {
            avatar: 7,
            name: 'Allie Rodriguez',
            username: 'arodriguez',
            email: 'bross@mail.com',
            specialty: 'IOS Developer',
            school: 'Школа №32',
            status: 1,
            rating: '4,4',
            messages: [
                {
                    content: 'Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.',
                    date: '1 day'
                },
                {
                    content: 'Vivendum torquatos ut nec, sit audiam deterruisset ei, cu sed nibh autem scriptorem. Ea quo vidit deleniti constituto, ex qui malis mollis iudicabit, viris fabellas id has.',
                    date: '2 days'
                },
                {content: 'Eam facilis laboramus reprehendunt ei, ex esse fastidii per.', date: '3 days'},
                {
                    content: 'Ea inani epicurei mea. No docendi antiopam quo, ad dicant viderer cotidieque vix. Ea mea dicat ludus, utroque explicari conclusionemque ius eu, in scaevola tractatos persecuti per.',
                    date: '3 days'
                }
            ]
        }, {
            avatar: 8,
            name: 'Alice Hampton',
            username: 'ahampton',
            email: 'ahampton@mail.com',
            specialty: 'Copywriter',
            school: 'Школа №43',
            status: 3,
            rating: '4,3',
            messages: [
                {
                    content: 'Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.',
                    date: '1 day'
                },
                {
                    content: 'Vivendum torquatos ut nec, sit audiam deterruisset ei, cu sed nibh autem scriptorem. Ea quo vidit deleniti constituto, ex qui malis mollis iudicabit, viris fabellas id has.',
                    date: '2 days'
                },
                {content: 'Eam facilis laboramus reprehendunt ei, ex esse fastidii per.', date: '3 days'},
                {
                    content: 'Ea inani epicurei mea. No docendi antiopam quo, ad dicant viderer cotidieque vix. Ea mea dicat ludus, utroque explicari conclusionemque ius eu, in scaevola tractatos persecuti per.',
                    date: '3 days'
                }
            ]
        }, {
            avatar: 1,
            name: 'Hallie Lewis',
            username: 'hlewis',
            email: 'hlewis@mail.com',
            specialty: 'Front-end Developer',
            school: 'Лицей 52',
            status: 2,
            rating: '4,2'
        }, {
            avatar: 10,
            name: 'Leon Wilson',
            username: 'lwilson',
            email: 'lwilson@mail.com',
            specialty: 'Back-end Developer',
            school: 'Школа 56',
            rating: '4,1',
            messages: [
                {
                    content: 'Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.',
                    date: '1 day'
                },
                {
                    content: 'Vivendum torquatos ut nec, sit audiam deterruisset ei, cu sed nibh autem scriptorem. Ea quo vidit deleniti constituto, ex qui malis mollis iudicabit, viris fabellas id has.',
                    date: '2 days'
                },
                {content: 'Eam facilis laboramus reprehendunt ei, ex esse fastidii per.', date: '3 days'},
                {
                    content: 'Ea inani epicurei mea. No docendi antiopam quo, ad dicant viderer cotidieque vix. Ea mea dicat ludus, utroque explicari conclusionemque ius eu, in scaevola tractatos persecuti per.',
                    date: '3 days'
                }
            ]
        }]
    }),
    methods: {
        selectClient(client) {
            this.selected = client
            this.sideboxOpened = true
        },
        closeSidebox() {
            this.sideboxOpened = false
        }
    }
}
</script>
