<template lang="pug">
    div
        b-row.align-items-center
            b-col(cols="12" sm="6")
                h4.font-weight-bold.my-4
                    | Школы
            b-col(cols="12" sm="6" class="text-right")
                b-btn(
                    v-if="hasPermission('schools:manage')"
                    variant="primary"
                    @click="$router.push({ path: '/admin/schools/new' })"
                ) Создать школу
        b-card(no-body="")
            // Table
            hr.border-light.m-0
            .table-responsive
                b-table.card-table(
                    :items="schools"
                    :fields="fields"
                    :sort-by.sync="sortBy"
                    :sort-desc.sync="sortDesc"
                    :striped="true"
                    :bordered="true"
                )
                    template(slot="name" slot-scope="data")
                        a(:href="`/admin/schools/${data.item.id}`") {{data.item.name}}
                    template(slot="lastUpdate" slot-scope="data")
                        span {{ formatDate(data.item.updatedAt) }}

            pagination(
                ref='pagination'
                @onPageUpdated="fetchSchools"
                :generateUrl='true'
            )
</template>

<script lang="ts">
import http from '../../../httpService'
import Pagination from '../../../components/global/Pagination.vue'
import PageSizeSelector from '../../../components/global/PageSizeSelector.vue'
import Component, { mixins } from "vue-class-component"
import { FormatDateMixins } from "@/mixins/shared/formatDateMixinsTs"
import { UserProfileMixins } from "@/mixins/shared/userProfileMixinsTs"
import { Ref } from "vue-property-decorator";
import { UrlBindingMixins } from "@/mixins/shared/urlBindingMixins";

@Component({
    metaInfo: { title: 'Все слова' },
    components: {
        Pagination
    }
})

export default class SchoolList extends mixins(
    UserProfileMixins,
    FormatDateMixins,
    UrlBindingMixins
) {

    sortBy: string = 'id'
    sortDesc: boolean = false
    fields = [
        { key: 'id', label: 'ID', sortable: true, tdClass: 'align-middle', thStyle: 'width: 5rem' },
        { key: 'name', label: 'Название школы', sortable: true, tdClass: 'align-middle' },
        { key: 'city', label: 'Город', sortable: true, tdClass: 'align-middle', thStyle: 'width: 15rem' },
        {
            key: 'rating',
            label: 'Рейтинг',
            sortable: true,
            tdClass: 'align-middle',
            thStyle: 'width: 15rem'
        },
    ]
    schools = []

    @Ref()
    private pagination!: Pagination

    mounted() {
        this.fetchSchools()

        this.$watch(() => [this.sortBy, this.sortDesc], () => {
            this.fetchSchools()
        })
    }

    async fetchSchools() {
        try {
            const response = await http.post('/admin/schools', {
                page: this.pagination.page,
                pageSize: 15
            })
            this.schools = response.data.schools
            const pageCount = response.data.pageCount
            const wordCount = response.data.wordCount
            this.pagination.setPageData(pageCount, wordCount)
        } catch (error) {
            this.showErrorToast({ text: 'Ошибка при загрузке слов' })
            this.schools = []
            console.log('error', error)
        }
    }

}
</script>
