<template lang="pug">
    div
        h4(class="font-weight-bold py-3 mb-4")
            | Информация школе
            span(class="text-muted")  {{ `#999` }}

</template>

<style src="@/vendor/styles/pages/users.scss" lang="scss"/>

<script lang="ts">
import Component, { mixins } from "vue-class-component";
import { Ref, Watch } from "vue-property-decorator";

import SideConfirmModal from "../../../components/modal/sideConfirmModal.vue"
import { UserProfileMixins } from "@/mixins/shared/userProfileMixinsTs";

import http from '../../../httpService'

@Component({
    metaInfo: { title: 'Школа' },
    components: {
      SideConfirmModal
    }
})
export default class SchoolInfo extends mixins(
    UserProfileMixins,
) {

    @Ref()
    wordDeletingConfirmationModal!: SideConfirmModal


}
</script>
