<template lang="pug">
    b-nav-item-dropdown.demo-navbar-notifications.mr-lg-3(no-caret="" :right="!isRTL")
        template(slot="button-content")
            i.ion.ion-md-notifications-outline.navbar-icon.align-middle
            span.badge.badge-primary.badge-dot.indicator
            span.d-lg-none.align-middle   Notifications
        .bg-primary.text-center.text-white.font-weight-bold.p-3
            | 4 New Notifications
        b-list-group(flush="")
            b-list-group-item.media.d-flex.align-items-center(href="javascript:void(0)")
                .ui-icon.ui-icon-sm.ion.ion-md-home.bg-secondary.border-0.text-white
                .media-body.line-height-condenced.ml-3
                    .text-dark Login from 192.168.1.1
                    .text-light.small.mt-1
                        | Aliquam ex eros, imperdiet vulputate hendrerit et.
                    .text-light.small.mt-1 12h ago
            b-list-group-item.media.d-flex.align-items-center(href="javascript:void(0)")
                .ui-icon.ui-icon-sm.ion.ion-md-person-add.bg-info.border-0.text-white
                .media-body.line-height-condenced.ml-3
                    .text-dark
                        | You have
                        strong 4
                        |  new followers
                    .text-light.small.mt-1
                        | Phasellus nunc nisl, posuere cursus pretium nec, dictum vehicula tellus.
            b-list-group-item.media.d-flex.align-items-center(href="javascript:void(0)")
                .ui-icon.ui-icon-sm.ion.ion-md-power.bg-danger.border-0.text-white
                .media-body.line-height-condenced.ml-3
                    .text-dark Server restarted
                    .text-light.small.mt-1
                        | 19h ago
            b-list-group-item.media.d-flex.align-items-center(href="javascript:void(0)")
                .ui-icon.ui-icon-sm.ion.ion-md-warning.bg-warning.border-0.text-dark
                .media-body.line-height-condenced.ml-3
                    .text-dark 99% server load
                    .text-light.small.mt-1
                        | Etiam nec fringilla magna. Donec mi metus.
                    .text-light.small.mt-1
                        | 20h ago
        a.d-block.text-center.text-light.small.p-2.my-1(href="javascript:void(0)")
            | Show all
            | notifications
</template>

<script lang="ts">
import Component, { mixins } from "vue-class-component"
import { UserProfileMixins } from "@/mixins/shared/userProfileMixinsTs";

@Component
export default class NotificationsDropdown extends mixins(UserProfileMixins) {

}
</script>
