<template lang="pug">
    b-nav-item-dropdown.demo-navbar-user(:right="!isRTL")
        template(slot="button-content")
            span.d-inline-flex.flex-lg-row-reverse.align-items-center.align-middle
                img.d-block.ui-w-30.rounded-circle(src="https://uxpowered.com/products/appwork/v140/assets_/img/avatars/1.png" alt="")
                span.px-1.mr-lg-2.ml-2.ml-lg-0 {{ getUser().userName }}
        b-dd-item(
            v-for="item in getItems()"
            @click="item.onClick"
            :key="item.title"
        )
            i(:class="`ion ${item.icon} text-lightest`")
            |    {{ item.title }}
        b-dd-divider
        b-dd-item(@click="logout")
            i.ion.ion-ios-log-out.text-danger
            |    Выйти
</template>

<script lang="ts">
import Component, { mixins } from "vue-class-component"
import { UserProfileMixins } from "@/mixins/shared/userProfileMixinsTs";

@Component
export default class UserProfileDropdown extends mixins(UserProfileMixins) {

    getItems() {
        return [
            {
                title: 'Мой профиль',
                icon: 'ion-ios-person',
                onClick: this.doSomething,
            },
        ]
    }

    doSomething() {
        console.log("doSomething")
    }

    async logout() {
        try {
            await this.$store.dispatch('logoutUser')
            this.$router.push({ path: `/` })
        } catch (e) {
            this.showErrorToast({ text: 'Ошибка при попытке выхода' })
        }
    }

}
</script>
