<template lang="pug">
    .layout-wrapper.layout-2
        .layout-inner
            app-layout-sidenav
            .layout-container
                app-layout-navbar
                .layout-content
                   .router-transitions.container-fluid.flex-grow-1.container-p-y
                       router-view
                   app-layout-footer
        .layout-overlay(@click='closeSidenav')
</template>

<script>
import LayoutNavbar from './AdminNavbarLayout'
import LayoutSidenav from '../components/admin/AdminSidenav'
import LayoutFooter from './base/LayoutFooter'

export default {
    name: 'admin-layout',
    components: {
        'app-layout-navbar': LayoutNavbar,
        'app-layout-sidenav': LayoutSidenav,
        'app-layout-footer': LayoutFooter
    },

    mounted() {
        this.layoutHelpers.init()
        this.layoutHelpers.update()
        this.layoutHelpers.setAutoUpdate(true)
    },

    beforeDestroy() {
        this.layoutHelpers.destroy()
    },

    methods: {
        closeSidenav() {
            this.layoutHelpers.setCollapsed(true)
        }
    }
}
</script>
