<template lang="pug">
    b-navbar.layout-navbar.align-items-lg-center.container-p-x(toggleable="lg" :variant="layoutNavbarBg")
        // Brand
        b-navbar-brand(to="/") Вектор
        // Sidenav toggle
        b-navbar-nav.align-items-lg-center.mr-auto.mr-lg-4(v-if="sidenavToggle")
            a.nav-item.nav-link.px-0.ml-2.ml-lg-0(href="javascript:void(0)" @click="toggleSidenav")
                i.ion.ion-md-menu.text-large.align-middle
        // Navbar toggle
        b-navbar-toggle(target="app-layout-navbar")
        b-collapse#app-layout-navbar(is-nav)
            b-navbar-nav.align-items-lg-center
                b-nav-item(
                    v-for="link in links"
                    :to="link.url"
                    :key="link.url"
                    v-if="checkItemPermission(link)"
                ) {{link.title}}

            b-navbar-nav.align-items-lg-center.ml-auto
                notifications-dropdown

                // Divider
                div.nav-item.d-none.d-lg-block.text-big.font-weight-light.line-height-1.opacity-25.mr-3.ml-1
                    | |

                user-profile-dropdown

</template>

<script lang="ts">
import userProfileDropdown from '../components/header/UserProfileDropdown.vue'
import notificationsDropdown from '../components/header/NotificationsDropdown.vue'
import Component, { mixins } from "vue-class-component"
import { UserProfileMixins } from "@/mixins/shared/userProfileMixinsTs"
import { Prop } from "vue-property-decorator";

@Component({
    name: 'admin-sidenav',
    components: {
        userProfileDropdown,
        notificationsDropdown
    }
})
export default class AdminNavbarLayout extends mixins(UserProfileMixins) {

    @Prop({ default: true })
    sidenavToggle!: boolean
    links = [
        {
            title: 'Открыть сайт',
            url: '/'
        }
    ]

    toggleSidenav() {
        this.layoutHelpers.toggleCollapsed()
    }
}
</script>
