<template lang="pug">
    div
        main-header
        div.hero
            .container.py-5.px-3
                router-view
</template>

<script>
import Header from '../components/client/Header'

export default {
    name: 'client-layout',
    components: {
        'main-header': Header,
    },

    mounted() {
        this.layoutHelpers.init()
        this.layoutHelpers.update()
        this.layoutHelpers.setAutoUpdate(true)
    },

    beforeDestroy() {
        this.layoutHelpers.destroy()
    },

    methods: {
        closeSidenav() {
            this.layoutHelpers.setCollapsed(true)
        }
    }
}
</script>
