<template lang="pug">
    div
        main-header
        div.hero
            library-header
            .library-container
                router-view
</template>

<script lang="ts">
import Component from "vue-class-component"
import Vue from "vue"
import LibraryHeader from "../components/client/library/LibraryHeader.vue";
import Header from "../components/client/Header.vue";

@Component({
    name: 'library-layout',
    components: {
        'main-header': Header,
        LibraryHeader
    }
})
export default class LibraryLayout extends Vue {

}
</script>

<style lang="scss">
    .library-container {
        max-width: 1140px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @media (max-width: 1200px) {
        .library-container {
            max-width: 960px;
        }
    }

    @media (max-width: 992px) {
        .library-container {
            max-width: 720px;
        }
    }

    @media (max-width: 768px) {
        .library-container {
            max-width: 100%;
            padding: 0;
        }
        .library-container .card-header {
            justify-content: flex-end;
        }
    }




</style>
