<!DOCTYPE html>

<html lang="en" class="default-style">
  <head>
    <title>Вектор</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <!-- Main font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="<%= BASE_URL %>vendor/fonts/fontawesome.css">
    <link rel="stylesheet" href="<%= BASE_URL %>vendor/fonts/ionicons.css">
    <!-- <link rel="stylesheet" href="<%= BASE_URL %>vendor/fonts/linearicons.css"> -->
    <!-- <link rel="stylesheet" href="<%= BASE_URL %>vendor/fonts/open-iconic.css"> -->
    <!-- <link rel="stylesheet" href="<%= BASE_URL %>vendor/fonts/pe-icon-7-stroke.css"> -->

    <!-- Layout helpers -->
    <script src="<%= BASE_URL %>vendor/js/layout-helpers.js"></script>

  </head>
  <body>

    <div id="app"></div>

    <!-- built files will be auto injected -->
  </body>
</html>
